
ul.promos{
    display:block;
    width:100%;
    background-color:darkorange;
    color:white;
    position:absolute;
    list-style-type:none;   
}

li.savings{
    display:inline-block;
    padding:6px;
}

#free{
    background-color:brown;
    color:white;
   border:4px solid darkorange; 
}